* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
}

.searchbox {
    width: 100%;
    background-color: #fff;
    position: relative;
}

input[type="text"] {
    padding: 5px;
    width: 0;
    border: none;
    transition: width 0.3s ease;
    position: absolute;
    top: 5px;
    right: 300px;
    font-size: 15px;
}

.btn {
    border: none;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url(search-icon.png);
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 300px;
    transition: transform 0.3s ease-in;
}

input.active {
    width: 150px;
}

.btn.active {
    transform: translateX(108px);
}

.btn:focus ,input:focus {
    outline: none;
}